<div class="row">
  <div class="col-md-6 col-offset-md-3">
    <h1>Add a document to upload to Open AI</h1>

    <%= render "form", document: @document %>

    <%= link_to "Back to documents", documents_path, class: 'btn btn-secondary' %>
  </div>
</div>
